@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #3491f3;
  margin: 0;
  font-family: -apple-system, "Anek Telugu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quiz {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    15deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 110, 235, 1) 0%,
    rgba(51, 149, 242, 1) 52%
  );
}
